<form ua-signup  ng-controller="registerCtrl">
  <ion-view title="Sign Up">
    <ion-content>
      <div class="list list-inset">
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" name="register.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" name="register.email" ua-is-email>
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" name="register.pass">
        </label>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive" ng-click="register(name,email,pass)">
          <span ng-show="!loading">Create Account</span>
          <i ng-show="loading" class="ion-loading-b"></i>
        </button>
      </div>
    </ion-content>
  </ion-view>
  <div class="bar bar-footer bar-assertive" ng-show="error">
  </div>
</form>